{% extends "base.html" %}

{% block content %}
    <h1 class="text" style="margin: 12px">
        Timus Extension
    </h1>
    <a class="text">
        Website for users of&nbsp;
    </a>
    <a class="link" target="_blank" href="https://acm.timus.ru/">
        Timus Online Judge.
    </a>
    <a class="text">
        &nbsp;You can add friends and follow their competitive progress with problems list.
    </a>
    <br>
    <a class="text">
        This is not an official project by Timus Online Judge team. This project is just fansite.
    </a>
    <br>
    <a class="text">
        Our GitHub repository with source code and discussions:
    </a>
    <a class="link" target="_blank" href="https://github.com/Keworker/timus-ext">
        Keworker/timus-ext
    </a>
    <a class="text">
        .
    </a>
{% endblock %}
